<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyframe.project.testmanagmt.projectPageDetail.mapper.ProjectPageDetailMapper">
    
    <resultMap type="ProjectPageDetail" id="ProjectPageDetailResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="pageId"    column="page_id"    />
        <result property="type"    column="type"    />
        <result property="element"    column="element"    />
        <result property="value"    column="value"    />
    </resultMap>
	
	<sql id="selectProjectPageDetailVo">
        select id, create_by, create_time, update_by, update_time, remark, page_id, type, element, value from project_page_detail
    </sql>
	
    <select id="selectProjectPageDetailList" parameterType="ProjectPageDetail" resultMap="ProjectPageDetailResult">
        <include refid="selectProjectPageDetailVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="pageId != null "> and page_id = #{pageId}</if>
             <if test="type != null  and type != '' "> and type = #{type}</if>
             <if test="element != null  and element != '' "> and element = #{element}</if>
             <if test="value != null  and value != '' "> and value = #{value}</if>
         </where>
    </select>
    
    <select id="selectProjectPageDetailById" parameterType="Integer" resultMap="ProjectPageDetailResult">
        <include refid="selectProjectPageDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProjectPageDetail" parameterType="ProjectPageDetail" useGeneratedKeys="true" keyProperty="id">
        insert into project_page_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="pageId != null  ">page_id,</if>
			<if test="type != null  and type != ''  ">type,</if>
			<if test="element != null  and element != ''  ">element,</if>
			<if test="value != null  and value != ''  ">value,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="pageId != null  ">#{pageId},</if>
			<if test="type != null  and type != ''  ">#{type},</if>
			<if test="element != null  and element != ''  ">#{element},</if>
			<if test="value != null  and value != ''  ">#{value},</if>
         </trim>
    </insert>
	 
    <update id="updateProjectPageDetail" parameterType="ProjectPageDetail">
        update project_page_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="pageId != null  ">page_id = #{pageId},</if>
            <if test="type != null  and type != ''  ">type = #{type},</if>
            <if test="element != null  and element != ''  ">element = #{element},</if>
            <if test="value != null  and value != ''  ">value = #{value},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteProjectPageDetailById" parameterType="Integer">
        delete from project_page_detail where id = #{id}
    </delete>
	
    <delete id="deleteProjectPageDetailByIds" parameterType="String">
        delete from project_page_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>