<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-projectPlanCase-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">用例ID：</label>
				<div class="col-sm-8">
					<input id="caseId" name="caseId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">测试计划ID：</label>
				<div class="col-sm-8">
					<input id="planId" name="planId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用例优先级 数字越小，优先级越高：</label>
				<div class="col-sm-8">
					<input id="priority" name="priority" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/projectPlanCase"
		$("#form-projectPlanCase-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-projectPlanCase-add').serialize());
	        }
	    }
	</script>
</body>
</html>
