# 项目相关配置
luckyframe:
  # 名称
  name: LuckyFrame
  # 版本
  version: 3.4
  # 版权年份
  copyrightYear: 2021
  # 获取ip地址开关
  addressEnabled: true
# netty配置
netty:
  url: 0.0.0.0
  port: 7070
  # netty通信编码，防止乱码
  socketChannel:
    # 编码格式
    encoder: UTF_8
    # 解码格式
    decoder: GBK
# 开发环境配置
server:
  # 服务端口
  port: 80
  servlet:
    # 项目contextPath
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # tomcat最大线程数，默认为200
    max-threads: 800
    # Tomcat启动初始化的线程数，默认值25
    min-spare-threads: 30
 
# 日志配置
logging:
  level:
    com.luckyframe: debug
    org.springframework: WARN
    org.spring.springboot.dao: debug

# 用户配置
user:
  password:
    # 密码错误{maxRetryCount}次锁定10分钟
    maxRetryCount: 5

# Spring配置
spring:
  # 模板引擎
  thymeleaf:
    mode: HTML
    encoding: utf-8
    # 禁用缓存
    cache: false
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  profiles: 
    active: druid
  # 文件上传
  servlet:
     multipart:
       max-file-size:  30MB
       max-request-size:  30MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true

# MyBatis
mybatis:
    # 搜索指定包别名
    typeAliasesPackage: com.luckyframe.project
    # 配置mapper的扫描，找到所有的mapper.xml映射文件
    mapperLocations: classpath:mybatis/**/*Mapper.xml
    # 加载全局的配置文件
    configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper: 
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql 

# Shiro
shiro:
  user:
    # 登录地址
    loginUrl: /login
    # 权限认证失败地址
    unauthorizedUrl: /unauth
    # 首页地址
    indexUrl: /index
    # 验证码开关
    captchaEnabled: true
    # 验证码类型 math 数组计算 char 字符
    captchaType: math
  cookie:
    # 设置Cookie的域名 默认空，即当前访问的域名
    domain: 
    # 设置cookie的有效访问路径
    path: /
    # 设置HttpOnly属性
    httpOnly: true
    # 设置Cookie的过期时间，天为单位
    maxAge: 30
  session:
    # Session超时时间（默认30分钟）
    expireTime: 600
    # 同步session到数据库的周期（默认1分钟）
    dbSyncPeriod: 1
    # 相隔多久检查一次session的有效性，默认就是10分钟
    validationInterval: 10

# 防止XSS攻击
xss: 
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice/*
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*

# 代码生成
gen: 
  # 作者
  author: luckyframe
  # 默认生成包路径 system 需改成自己的模块名称 如 system monitor tool
  packageName: com.luckyframe.project.system
  # 自动去除表前缀，默认是true
  autoRemovePre: true
  # 表前缀(类名不会包含表前缀)
  tablePrefix: sys_
  
flyway:
    # 字符编码
    encoding: utf-8
    # 对执行迁移时基准版本的描述
    baseline-description: BaseLineInitialize
    # 若连接的数据库非空库，是否初始化
    # 当迁移时发现目标schema非空，而且带有没有元数据的表时，是否自动执行基准迁移，默认false.
    baseline-on-migrate: true
    # 指定 baseline 的版本号,缺省值为 1, 低于该版本号的 SQL 文件, migrate 的时候被忽略
    # 开始执行基准迁移时对现有的schema的版本打标签，默认值为1.
    baseline-version: 3.1.1
    # 是否开启校验
    # 迁移时是否校验，默认为 true
    validate-on-migrate: true
    # 开发环境最好开启 outOfOrder, 生产环境关闭 outOfOrder
    # 是否允许无序的迁移，默认 false
    out-of-order: true
    # 当读取元数据表时是否忽略错误的迁移，默认false
    ignore-future-migrations: false
    # 当初始化好连接时要执行的SQL
    init-sql: show tables;
client:
  config:
    privateKey: MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAKZzwv5UN94a4OdMlmRS20n7x5e267LAV9Ue8wFOxUL2BJH33+mrJBqfj8rpcSgp7K+etX2kFq35VeeK3cr+ndBq9z+fO1FHw1kfsE8SQnSw17jfM1pdekC40gle+1bRKlm28zoLYcUMkQ8UFyVEyn72JH5ByJf9zNxWPVAIuzh3AgMBAAECgYBUrXd5Yua4+vuHL5MinnQogwnayJfHa8pDBWeiNqxrkDRq/arPeNz5HktMcs26HPnnrdmufRd8ked9z0tdxYIKfxeZrWuY3+YQkthGkROcWPLc4H1BdlXMTSoDS1hoTokehJ22i+SH2Qr9IYs++xHdEg7s5lPkoi9eVboTpOC0wQJBAM+qft5kp7gH3XV/XtpBeUxwB5rmpPVRIBPHxjHURhFI19+VDwidIq8MbN4tP1ukqegGNj5tWotNpoP9S+dS49kCQQDNMZiSW9HsX51CP7tJ1PVGnmE7QN5pu5TnlEl2WJQup6JamzvMiNYbJ4XzI4tBoL9+n4iAqbDyNIKY9y7ci1zPAkAT/PEhLscF65vhR1U15L9sIAxbWH/gLOLNhJkLCseDumMs3ggIaDeCacvAxtImW/8Omip2b8gbSGoSojrAFTZhAkAsWmoWSM6pf0loxonfPa7+4sE1o6HvzOI05HK0qBTvuMB5QVC9t15AZFyp36b8Opjp7+X7mbJryDnqgpOYjG81AkEAlgZbPEKrFmvBAdhnsOdLywYO+iaKVHsUV/xB65gOJk9TtJNG5GQd9zJkTJ589itK4Avg0x247PELbQjd3Tge2w==
    publicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCmc8L+VDfeGuDnTJZkUttJ+8eXtuuywFfVHvMBTsVC9gSR99/pqyQan4/K6XEoKeyvnrV9pBat+VXnit3K/p3Qavc/nztRR8NZH7BPEkJ0sNe43zNaXXpAuNIJXvtW0SpZtvM6C2HFDJEPFBclRMp+9iR+QciX/czcVj1QCLs4dwIDAQAB
