<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            页面唯一编号：<input id="pageId" type="text" style="background: #efe4e4;width: 50px;" readonly=true
                                          name="pageId" th:value="${projectPageDetail.pageId}"/>
                        </li>
                        <li>
                            元素名称：<input type="text" name="element"/>
                        </li>
                        <li>
                            具体的参数值：<input type="text" name="value"/>
                        </li>
                        <li>
                            定位类型<input type="text" placeholder="支持xpath等" name="type"/>
                        </li>
                        <li>
                            备注：<input type="text" name="remark"/>
                        </li>
                        <li>
                            创建者：<input type="text" name="createBy"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="testmanagmt:projectPageDetail:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="testmanagmt:projectPageDetail:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="testmanagmt:projectPageDetail:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('testmanagmt:projectPageDetail:edit')}]];
    var removeFlag = [[${@permission.hasPermi('testmanagmt:projectPageDetail:remove')}]];
    var prefix = ctx + "testmanagmt/projectPageDetail";
    var pageId = $('#pageId').val();
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add/" + pageId,
            updateUrl: prefix + "/editdetail/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "页面详情",
            search: false,
            showExport: true,
            queryParams: function (params) {
                return  {
                    pageId: $('#pageId').val(),
                };
            },
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '系统主键',
                    visible: false
                },
                {
                    field: 'pageId',
                    title: '页面唯一编号',
                    sortable: true
                },
                {
                    field: 'element',
                    title: '元素名称',
                    sortable: true
                },

                {
                    field: 'type',
                    title: '定位类型',
                    sortable: true
                },
                {
                    field: 'value',
                    title: '定位路径',
                    sortable: true
                },
                {
                    field: 'remark',
                    title: '备注',
                    sortable: true
                },

                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    field: 'createBy',
                    title: '创建者',
                    sortable: true
                },
                {
                    field: 'updateBy',
                    title: '更新者',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>