body {
    font-family:'Î¢ÈíÑÅºÚ';
    font-size: 14px;
    color: #444;
}
td{padding-left:3px;}

.error_msg {
	font-size: 14px;
	color: #f00;
}

.tip {
	font-size: 14px;
	color: blue;
}


table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 90%;    
}

.rect{BORDER:#ccc 1px solid; BORDER-COLLAPSE: collapse;}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
   /* box-shadow: 0 1px 1px #ccc;  */
	font-size:13px;       
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
   padding: 2px;
    text-align: left;    
}

.bordered th {
    background-color: #48D1CC;
	color:#FFFFFF;
 	/* text-shadow:1px 1px 1px #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        */
    border-top: none;
   text-align:center;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.log th {
    background-color: #999;
	color:#FFFFFF;
 	/* text-shadow:1px 1px 1px #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        */
    border-top: none;
   text-align:center;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 2px;
   
}
.log {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
   /* box-shadow: 0 1px 1px #ccc;  */
	font-size:13px;       
}
.log td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 2px;
    text-align: left;    
}



.button.gray{
color:#fff;
width:70px;
margin-left:5px;
height:32px;
font-size:12px;
/*text-shadow:1px 1px 1px #fff;
*/border:1px solid #48D1CC;
background:#48D1CC;
}


.btnold {
color:#fff;
width:auto;
margin-left:5px;
height:32px;
line-height:32px;
border:1px solid  #48D1CC;
PADDING-LEFT:22px;
PADDING-RIGHT: 22px; 
PADDING-TOP: 7px;
PADDING-BOTTOM:7px;
FONT-SIZE: 12px;
CURSOR: pointer;
background:#48D1CC;
/*text-shadow:1px 1px 1px #fff;*/
}









a{
text-decoration:none;
color:#666666; }
a:link {color: blue}


ul { list-style:none;}
#pagelist { width:710px;padding:6px 0px; height:20px; text-align:center}
#pagelist ul li { float:left; border:1px solid #48D1CC; height:25px; line-height:25px; width:88px; margin:0px 2px; background:#48D1CC; color:#FFFFFF;}
#pagelist ul li a, .pageinfo { display:block; padding:0px 2px; background:#48D1CC; border:0px; color:#FFFFFF;}
.pageinfo  { color:#FFFFFF;}
.current { background:#48D1CC; display:block; padding:0px 6px;   width:80px; }
