<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            页面名称：<input type="text" name="pageName"/>
                        </li>
                        <li>
                            页面父菜单：<input type="text" name="pageParentMenu"/>
                        </li>
                        <li>
                            页面菜单：<input type="text" name="pageMenu"/>
                        </li>
                        <li>
                            创建者：<input type="text" name="createBy"/>
                        </li>


                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()"
               shiro:hasPermission="testmanagmt:projectPageObject:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="testmanagmt:projectPageObject:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="testmanagmt:projectPageObject:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('testmanagmt:projectPageObject:edit')}]];
    var removeFlag = [[${@permission.hasPermi('testmanagmt:projectPageObject:remove')}]];
    var prefix = ctx + "testmanagmt/projectPageObject";
    var pagedetailfix = ctx + "testmanagmt/projectPageDetail";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add/",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            customUrl: pagedetailfix + "/edit/{id}",
            modalName: "页面配置管理",
            childrenModalName: "页面元素维护",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'pageId',
                    title: '页面编号',
                    sortable: true
                },
                {
                    field: 'projectName',
                    title: '所属项目',
                    visible: true
                },
                {
                    field: 'pageName',
                    title: '页面名称',
                    sortable: true
                },
                {
                    field: 'remark',
                    title: '备注',
                    sortable: true
                },
                {
                    field: 'pageParentMenu',
                    title: '页面父菜单',
                    sortable: true
                },
                {
                    field: 'pageMenu',
                    title: '页面菜单',
                    sortable: true
                },
                {
                    field: 'createBy',
                    title: '创建者',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    field: 'updateBy',
                    title: '更新者',
                    sortable: true
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var pagedetailfix = ctx + "testmanagmt/projectPageDetail";
                        var customUrl = pagedetailfix + "/edit/{id}";
                        customUrl = customUrl.replace("{id}", row.pageId);
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.pageId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.modal.openViewFull(\'页面元素维护\',\'' + customUrl+'\')"><i class="fa fa-edit"></i>页面元素</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.pageId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>