<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
					<input id="treeId" name="moduleId" type="hidden" th:value="${projectCaseModule.moduleId}"/>
						<ul>
							<li>
								用例名称：<input type="text" name="caseName"/>
							</li>

							<li>
								项目：
								<select id="projectId" name="projectId" th:with="type=${projects}" onchange="initializeModuleTree()">
								    <option value="">所有项目</option>
	                                <option th:each="projects : ${type}" th:text="${projects.projectName}" th:value="${projects.projectId}"></option>
	                            </select>
							</li>

							<li>
								模块：
								<input type="text" onclick="selectModuleTree()" id="treeName" readonly="true" value=""/>
							</li>

							<li>
								用例类型：
								<select name="caseType" th:with="type=${@dict.getType('testmanagmt_case_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="resetForm()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="testmanagmt:projectCase:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="testmanagmt:projectCase:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-info btn-edit disabled" onclick="$.operate.copy()" shiro:hasPermission="testmanagmt:projectCase:add">
					<i class="fa fa-copy"></i> 复制用例
				</a>
				<a class="btn btn-info btn-edit disabled" onclick="$.operate.customFull()" shiro:hasPermission="testmanagmt:projectCase:edit">
					<i class="fa fa-edit"></i> 用例步骤
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="testmanagmt:projectCase:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
<!--  				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="testmanagmt:projectCase:export">
						<i class="fa fa-download"></i> 导出
				 </a> -->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true" style="table-layout:fixed"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('testmanagmt:projectCase:edit')}]];
        var removeFlag = [[${@permission.hasPermi('testmanagmt:projectCase:remove')}]];
        var prefix = ctx + "testmanagmt/projectCase";
        var modulePrefix = ctx + "testmanagmt/projectCaseModule"
        var stepsPrefix = ctx + "testmanagmt/projectCaseSteps";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                copyUrl: prefix + "/copy/{id}",
                removeUrl: prefix + "/remove",
                customUrl: stepsPrefix + "/edit/{id}",
				exportUrl: prefix + "/export",
                modalName: "测试用例",
                childrenModalName: "用例步骤编辑",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'caseId', 
					title : '测试用例ID',
					sortable: true,
					visible: false
				},
				{
					field : 'project.projectName', 
					title : '项目名称',
					width : '10%',
					class : 'myTDLengthHidden'
				},
				{
					field : 'projectCaseModule.moduleName', 
					title : '模块名称',
					width : '12%',
					class : 'myTDLengthHidden'
				},
				{
					field : 'caseSign', 
					title : '用例编号',
					sortable: true,
					width : '7%',
					class : 'myTDLengthHidden'
				},
				{
					field : 'caseName', 
					title : '用例名称',
					width : '25%',
					class : 'myTDLengthHidden'
				},
				{
					field : 'caseType', 
					title : '用例类型',
					width : '8%',
					class : 'myTDLengthHidden',
		        	formatter: function (value, row, index) {
		    		    if (row.caseType == 0) {
		        			return 'HTTP接口';
		        		} else if(row.caseType == 1){
		        			return 'Web UI';
		        		} else if(row.caseType == 2){
		        			return 'API驱动';
		        		} else if(row.caseType == 3){
		        			return '移动端';
		        		}else{
		        			return '未知类型';
		        		}
		        	}
				},
				{
					field : 'failcontinue', 
					title : '失败处理',
					width : '8%',
					class : 'myTDLengthHidden',
		        	formatter: function (value, row, index) {
		    		    if (row.failcontinue == 0) {
		        			return '后续步骤中断';
		        		} else if(row.failcontinue == 1){
		        			return '后续步骤继续';
		        		} else{
		        			return '非法数据';
		        		}
		        	}
				},
				{
					field : 'createBy', 
					title : '创建者',
					visible: false
				},
				{
					field : 'createTime', 
					title : '创建时间',
					visible: false
				},
				{
					field : 'updateBy', 
					title : '更新者',
					width : '6%',
					class : 'myTDLengthHidden'
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true,
					width : '12%',
					class : 'myTDLengthHidden'
				},
				{
					field : 'remark', 
					title : '备注',
					width : '12%',
					class : 'myTDLengthHidden'
				}]
            };
            $.table.init(options);
        });
        
		/*查询条件选择用例模块*/
		function selectModuleTree() {
			var projectId=$("#projectId  option:selected").val();
			if(projectId==""){
				$.modal.alertError("请先选择项目");
			}else{
				var options = {
						title: '模块选择',
						width: "380",
						url: modulePrefix + "/selectProjectCaseModuleTree/" + $("#treeId").val(),
						callBack: doSubmit
					};
					$.modal.openOptions(options);
			}
		}
		
		function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
   			$("#treeId").val(body.find('#treeId').val());
   			$("#treeName").val(body.find('#treeName').val());
   			layer.close(index);
		}
		
		/*选择项目初始化模块树*/
		function initializeModuleTree() {
			var projectId=$("#projectId  option:selected").val();
			if(projectId==""){
	   			$("#treeId").val("");
	   			$("#treeName").val("");
			}else{
				$.ajax({
					cache : true,
					type : "GET",
					url : modulePrefix + "/getModuleByProjectId/" + projectId,
					data : {},
					async : false,
					error : function(request) {
						$.modal.alertError("系统错误");
					},
					success : function(data) {
			   			$("#treeId").val(data.moduleId);
			   			$("#treeName").val(data.moduleName);
					}
				});
			}
		}
		
		function resetForm(){
			$("#treeId").val("");
			$.form.reset();
		}
    </script>
</body>
</html>