<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>LuckyFrame中心</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                                                        更多使用技巧，直达官网查看
                <br><a target="_blank" href="http://www.luckyframe.cn">http://www.luckyframe.cn</a>
                <h4 class="text-danger">期待你的参与</h4>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>加入我们</h2>
            <small>关注公众号请扫描以下二维码：</small>
            <br>
            <br>
            <img th:src="@{/img/gzh_code.jpg}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>LuckyFrame开源测试平台</h2>
            <p>LuckyFrame测试平台是一款采用 GPL开源协议的测试平台，目前已做到全纬度覆盖了接口自动化、WEB UI自动化、APP自动化，并且可以支持分布式测试。平台采用测试关键字驱动方式，可以简单高效的实现测试自动化，这在很大程度上解决了测试同学代码基础薄弱的问题。</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <p>
                <span class="label label-warning">&yen; 免费开源</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://gitee.com/seagull1985/LuckyFrameWeb" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问码云
                </a>
                <a class="btn btn-success btn-outline" href="http://www.luckyframe.cn" target="_blank">
                    <i class="fa fa-home"></i> 访问官网
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.luckyframe.cn" target="_blank">http://www.luckyframe.cn</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群：<a href="//shang.qq.com/wpa/qunwpa?idkey=32919cc1ee8595efa4c561920f3fdb606606ca8fdb6ff6b2430c5d97587551de" target="_blank">487954492</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                            <div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v30">v3.0</a><code class="pull-right">2019.02.13</code>
								   </h5>
								</div>
								<div id="v30" class="panel-collapse collapse in">
									<div class="panel-body">
									   <ol>
											<li>test...........</li>
											<li>update.........</li>
										</ol>
									</div>
								</div>
							</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
